<div class="nav-links">
    <div class="link">
        <a
            routerLink="dex"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >
            Pokedex
        </a>
    </div>
    <div class="link">
        <a
            routerLink="moves"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >
            Move List
        </a>
    </div>
    <div class="link">
        <a
            routerLink="map"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >
            Map
        </a>
    </div>
    <div class="link">
        <a
            href="https://docs.google.com/spreadsheets/d/1Q88_IrI15vV7TG_8u8UDHCccJZE4oeo7uY7MTaz-Nog/edit?usp=sharing"
        >
            Boss Battles
        </a>
    </div>
    <div class="link">
        <a
            href="https://docs.google.com/spreadsheets/d/11SrqUTx-GKxXjcS25vCXYKM8Q9RGPIjtDoLfD05h14s/edit?usp=sharing"
        >
            Encounters
        </a>
    </div>
</div>
<div class="body">
    <router-outlet></router-outlet>
</div>