::ng-deep a {
    color: black;
    text-decoration: none;
    &:hover {
        color: black;
        text-decoration: underline;
    }
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    width: 100%;
    border-bottom: 2px solid darkgray;

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
    }
    .link {
        border: 1px solid white;
        border-bottom: 0;
        &:hover {
            text-decoration: none;
            border: 1px solid gray;
            border-bottom: 0;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            cursor: pointer;

            a {
                text-decoration: none;
            }
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 15px;
        }
    }
}

::ng-deep .type-NORMAL {
  background-color: #a8a77a;
}
::ng-deep .type-FIRE {
  background-color: #ee8130;
}
::ng-deep .type-WATER {
  background-color: #6390f0;
}
::ng-deep .type-ELECTRIC {
  background-color: #f7d02c;
}
::ng-deep .type-GRASS {
  background-color: #7ac74c;
}
::ng-deep .type-ICE {
  background-color: #96d9d6;
}
::ng-deep .type-FIGHTING {
  background-color: #c22e28;
}
::ng-deep .type-POISON {
  background-color: #a33ea1;
}
::ng-deep .type-GROUND {
  background-color: #e2bf65;
}
::ng-deep .type-FLYING {
  background-color: #a98ff3;
}
::ng-deep .type-PSYCHIC {
  background-color: #f95587;
}
::ng-deep .type-BUG {
  background-color: #a6b91a;
}
::ng-deep .type-ROCK {
  background-color: #b6a136;
}
::ng-deep .type-GHOST {
  background-color: #735797;
}
::ng-deep .type-DRAGON {
  background-color: #6f35fc;
}
::ng-deep .type-DARK {
  background-color: #705746;
}
::ng-deep .type-STEEL {
  background-color: #b7b7ce;
}
::ng-deep .type-FAIRY {
  background-color: #d685ad;
}
::ng-deep .type-ZZZ {
  background-color: rgb(104, 160, 144);
}