<img src="/assets/map.png" usemap="#image-map">

<map name="image-map">
    <area (mouseover)="currText = 'Seabreeze Way'; subText=''" coords="1535,718,1645,766" shape="rect">
    <area (mouseover)="currText = 'Seabreeze Way'; subText='Seafoam Islands'" coords="1645,718,1728,766" shape="rect">
    <area (mouseover)="currText = 'Seabreeze Way'; subText=''" coords="1728,718,1919,766" shape="rect">
    <area (mouseover)="currText = 'Cinnabar Island'; subText='Pokemon Mansion'" coords="1487,718,1535,766" shape="rect">
    <area (mouseover)="currText = 'Pallet Bay'; subText=''" coords="1487,622,1535,718" shape="rect">
    <area (mouseover)="currText = 'Pallet Town'; subText='Oak Laboratory'" coords="1487,575,1535,634" shape="rect">
    <area (mouseover)="currText = 'Viridian Road'; subText='Pallet Grove'" coords="1487,530,1535,575" shape="rect">
    <area (mouseover)="currText = 'Viridian Road'; subText=''" coords="1487,478,1535,530" shape="rect">
    <area (mouseover)="currText = 'Viridian City'; subText='Trainer\'s School'" coords="1487,431,1535,478" shape="rect">
    <area (mouseover)="currText = 'Challenger\'s Approach'; subText=''" coords="1391,431,1487,478" shape="rect">
    <area (mouseover)="currText = 'Challenger\'s Approach'; subText=''" coords="1342,431,1391,574" shape="rect">
    <area (mouseover)="currText = 'Cremini Town'; subText=''" coords="1342,574,1391,623" shape="rect">
    <area (mouseover)="currText = 'New Journey Road'; subText=''" coords="1200,574,1248,623" shape="rect">
    <area (mouseover)="currText = 'New Journey Road'; subText='Tohjo Falls'" coords="1248,574,1292,623" shape="rect">
    <area (mouseover)="currText = 'New Journey Road'; subText=''" coords="1292,574,1342,623" shape="rect">
    <area (mouseover)="currText = 'New Bark Town'; subText='Elm Laboratory'" coords="1149,574,1200,623" shape="rect">
    <area (mouseover)="currText = 'Petrichor Way'; subText=''" coords="956,574,1149,623" shape="rect">
    <area (mouseover)="currText = 'Petrichor Way'; subText='Blue Moon Falls'" coords="911,574,956,623" shape="rect">
    <area (mouseover)="currText = 'Cherrygrove City'; subText=''" coords="862,574,911,623" shape="rect">
    <area (mouseover)="currText = 'Blossom Road'; subText=''" coords="862,335,911,574" shape="rect">
    <area (mouseover)="currText = 'Blossom Road'; subText='Dark Cave'" coords="862,286,911,335" shape="rect">
    <area (mouseover)="currText = 'Violet City'; subText='Sprout Tower'" coords="814,286,862,335" shape="rect">
    <area (mouseover)="currText = 'Overgrown Road'; subText=''" coords="623,286,814,335" shape="rect">
    <area (mouseover)="currText = 'Overgrown Road'; subText='National Park'" coords="574,286,623,335" shape="rect">
    <area (mouseover)="currText = 'Tradition Road'; subText=''" coords="670,191,719,286" shape="rect">
    <area (mouseover)="currText = 'Ecruteak City'; subText='Bell Tower'" coords="670,142,719,191" shape="rect">
    <area (mouseover)="currText = 'Autumnal Path'; subText=''" coords="431,142,670,191" shape="rect">
    <area (mouseover)="currText = 'Autumnal Path'; subText='Moomoo Farm'" coords="382,142,431,191" shape="rect">
    <area (mouseover)="currText = 'Breezy Plains'; subText='Pokeathelon Dome'" coords="334,142,382,191" shape="rect">
    <area (mouseover)="currText = 'Breezy Plains'; subText=''" coords="334,191,382,239" shape="rect">
    <area (mouseover)="currText = 'Breaker Way'; subText=''" coords="334,239,382,382" shape="rect">
    <area (mouseover)="currText = 'Whirl Islands'; subText=''" coords="238,382,383,575" shape="rect">
    <area (mouseover)="currText = 'Cianwood City'; subText=''" coords="190,526,239,575" shape="rect">
    <area (mouseover)="currText = 'Cliffsedge Path'; subText=''" coords="44,526,190,575" shape="rect">
    <area (mouseover)="currText = 'Cliffsedge Path'; subText='Skybreak Tower'" coords="0,526,44,575" shape="rect">
    <area (mouseover)="currText = 'Whirlpool Way'; subText=''" coords="334,575,382,670" shape="rect">
    <area (mouseover)="currText = 'Alto Mare'; subText=''" coords="334,670,382,719" shape="rect">
    <area (mouseover)="currText = 'Whirlpool Way'; subText=''" coords="382,670,479,719" shape="rect">
    <area (mouseover)="currText = 'Prospector\'s Path'; subText=''" coords="430,719,479,865" shape="rect">
    <area (mouseover)="currText = 'Outcast Isle'; subText='Altering Cave'" coords="430,865,479,911" shape="rect">
    <area (mouseover)="currText = 'Outcast Isle'; subText=''" coords="430,911,479,953" shape="rect">
    <area (mouseover)="currText = 'Wanderer\'s Way'; subText=''" coords="430,953,479,1055" shape="rect">
    <area (mouseover)="currText = 'Wanderer\'s Way'; subText=''" coords="479,1006,530,1055" shape="rect">
    <area (mouseover)="currText = 'Greengrove Isle'; subText='Pattern Bush'" coords="530,1006,574,1055" shape="rect">
    <area (mouseover)="currText = 'Greengrove Isle'; subText=''" coords="574,1006,623,1055" shape="rect">
    <area (mouseover)="currText = 'Water Path'; subText=''" coords="574,1055,623,1151" shape="rect">
    <area (mouseover)="currText = 'Ruin Valley'; subText=''" coords="574,1151,623,1247" shape="rect">
    <area (mouseover)="currText = 'Ruin Valley'; subText=''" coords="478,1198,575,1247" shape="rect">
    <area (mouseover)="currText = 'Ruin Valley'; subText=''" coords="527,1247,575,1295" shape="rect">
    <area (mouseover)="currText = 'Ruin Valley'; subText='Dotted Hole'" coords="478,1247,527,1295" shape="rect">
    <area (mouseover)="currText = 'Quest Road'; subText=''" coords="478,1295,527,1486" shape="rect">
    <area (mouseover)="currText = 'Warrior\'s Channel'; subText=''" coords="334,1486,527,1535" shape="rect">
    <area (mouseover)="currText = 'Battle Frontier'; subText=''" coords="334,1438,383,1486" shape="rect">
    <area (mouseover)="currText = 'Quest Island'; subText=''" coords="334,1583,383,1535" shape="rect">
    <area (mouseover)="currText = 'Sevault Canyon'; subText=''" coords="334,1631,383,1583" shape="rect">
    <area (mouseover)="currText = 'Sevault Canyon'; subText=''" coords="383,1726,431,1583" shape="rect">
    <area (mouseover)="currText = 'Tanoby Ruins'; subText=''" coords="238,1775,529,1726" shape="rect">
    <area (mouseover)="currText = 'Tanoby Chambers'; subText=''" coords="529,1775,575,1726" shape="rect">
    <area (mouseover)="currText = 'Fortune Island'; subText=''" coords="526,1102,574,1151" shape="rect">
    <area (mouseover)="currText = 'Water Path'; subText=''" coords="623,1102,911,1151" shape="rect">
    <area (mouseover)="currText = 'Water Labyrinth'; subText=''" coords="862,1151,911,1295" shape="rect">
    <area (mouseover)="currText = 'Chrono Island'; subText=''" coords="862,1295,911,1343" shape="rect">
    <area (mouseover)="currText = 'Eternal Meadow'; subText=''" coords="911,1295,959,1343" shape="rect">
    <area (mouseover)="currText = 'Eternal Meadow'; subText='Rocket Warehouse'" coords="911,1343,959,1391" shape="rect">
    <area (mouseover)="currText = 'Eternal Meadow'; subText=''" coords="959,1343,1007,1445" shape="rect">
    <area (mouseover)="currText = 'Abyssal Span'; subText=''" coords="959,1343,1105,1391" shape="rect">
    <area (mouseover)="currText = 'Abyssal Span'; subText='Oceanic Abyss'" coords="1105,1343,1150,1391" shape="rect">
    <area (mouseover)="currText = 'Abyssal Span'; subText=''" coords="1150,1247,1199,1391" shape="rect">
    <area (mouseover)="currText = 'Brine Road'; subText=''" coords="1150,1198,1294,1247" shape="rect">
    <area (mouseover)="currText = 'Brine Road'; subText='Shipwreck'" coords="1294,1198,1343,1247" shape="rect">
    <area (mouseover)="currText = 'Cape Brink'; subText=''" coords="1294,1247,1343,1342" shape="rect">
    <area (mouseover)="currText = 'Boon Island'; subText=''" coords="1294,1342,1343,1391" shape="rect">
    <area (mouseover)="currText = 'Partner\'s Path'; subText=''" coords="1294,1391,1343,1487" shape="rect">
    <area (mouseover)="currText = 'Companion Isle'; subText='Heartlocke Bridge'" coords="1343,1438,1391,1487" shape="rect">
    <area (mouseover)="currText = 'Brine Road'; subText=''" coords="1343,1198,1486,1247" shape="rect">
    <area (mouseover)="currText = 'Treasure Beach'; subText=''" coords="1486,1151,1535,1247" shape="rect">
    <area (mouseover)="currText = 'Bond Way'; subText=''" coords="1535,1198,1631,1247" shape="rect">
    <area (mouseover)="currText = 'Bond Way'; subText=''" coords="1582,1198,1631,1487" shape="rect">
    <area (mouseover)="currText = 'Bond Bridge'; subText=''" coords="1582,1487,1631,1535" shape="rect">
    <area (mouseover)="currText = 'Ancestor\'s Road'; subText=''" coords="1631,1487,1726,1535" shape="rect">
    <area (mouseover)="currText = 'Kin Island'; subText=''" coords="1726,1487,1775,1535" shape="rect">
    <area (mouseover)="currText = 'Gilded Path'; subText=''" coords="1726,1535,1823,1583" shape="rect">
    <area (mouseover)="currText = 'Berry Forest'; subText=''" coords="1534,1487,1582,1535" shape="rect">
    <area (mouseover)="currText = 'Knot Island'; subText=''" coords="1486,1102,1535,1151" shape="rect">
    <area (mouseover)="currText = 'Kindle Road'; subText=''" coords="1535,1031,1583,1151" shape="rect">
    <area (mouseover)="currText = 'Kindle Road'; subText='Hot Springs'" coords="1535,963,1583,1031" shape="rect">
    <area (mouseover)="currText = 'Kindle Road'; subText=''" coords="1535,908,1583,963" shape="rect">
    <area (mouseover)="currText = 'Mt. Ember'; subText=''" coords="1535,863,1583,908" shape="rect">
    <area (mouseover)="currText = 'Offshore Road'; subText=''" coords="1535,814,1631,863" shape="rect">
    <area (mouseover)="currText = 'Offshore Road'; subText=''" coords="1582,767,1631,814" shape="rect">
    <area (mouseover)="currText = 'Icy Sea'; subText=''" coords="1150,1391,1199,1582" shape="rect">
    <area (mouseover)="currText = 'Floe Island'; subText='Icefall Cave'" coords="1150,1582,1199,1631" shape="rect">
    <area (mouseover)="currText = 'Eternal Meadow'; subText='Memorial Pillar'" coords="959,1445,1007,1487" shape="rect">
    <area (mouseover)="currText = 'Water Labyrinth'; subText=''" coords="911,1198,960,1246" shape="rect">
    <area (mouseover)="currText = 'Water Labyrinth'; subText='Resort Gourgeous'" coords="960,1198,1007,1246" shape="rect">
    <area (mouseover)="currText = 'Water Labyrinth'; subText='Newborn Island'" coords="766,1246,816,1295" shape="rect">
    <area (mouseover)="currText = 'Water Labyrinth'; subText=''" coords="816,1246,911,1295" shape="rect">
    <area (mouseover)="currText = 'Olivine City'; subText='Shining Lighthouse'" coords="382,191,431,239" shape="rect">
    <area (mouseover)="currText = 'Mortar Slopes'; subText=''" coords="719,142,958,191" shape="rect">
    <area (mouseover)="currText = 'Mahogany Town'; subText=''" coords="958,142,1007,191" shape="rect">
    <area (mouseover)="currText = 'Rage\'s Approach'; subText=''" coords="958,95,1007,142" shape="rect">
    <area (mouseover)="currText = 'Lake of Rage'; subText=''" coords="958,46,1007,95" shape="rect">
    <area (mouseover)="currText = 'Springtide Path'; subText=''" coords="1007,142,1057,191" shape="rect">
    <area (mouseover)="currText = 'Springtide Path'; subText='Ice Cave'" coords="1057,142,1102,191" shape="rect">
    <area (mouseover)="currText = 'Blackthorn City'; subText='Dragon\'s Den'" coords="1102,142,1151,191" shape="rect">
    <area (mouseover)="currText = 'Mountain Road'; subText='Dark Cave'" coords="1102,191,1151,235" shape="rect">
    <area (mouseover)="currText = 'Mountain Road'; subText=''" coords="1102,235,1151,479" shape="rect">
    <area (mouseover)="currText = 'Homebound Switchback'; subText='Dark Cave'" coords="1054,430,1102,479" shape="rect">
    <area (mouseover)="currText = 'Homebound Switchback'; subText=''" coords="1054,430,1102,574" shape="rect">
    <area (mouseover)="currText = 'Wyrmreach'; subText=''" coords="1102,94,1151,142" shape="rect">
    <area (mouseover)="currText = 'Ruins of Alph'; subText=''" coords="718,335,814,431" shape="rect">
    <area (mouseover)="currText = 'Sunflower Road'; subText=''" coords="766,431,814,525" shape="rect">
    <area (mouseover)="currText = 'Blooming Town'; subText=''" coords="766,525,814,575" shape="rect">
    <area (mouseover)="currText = 'Union Road'; subText=''" coords="766,575,814,670" shape="rect">
    <area (mouseover)="currText = 'Union Road'; subText='Union Cave'" coords="766,670,814,719" shape="rect">
    <area (mouseover)="currText = 'Torrential Path'; subText=''" coords="719,670,766,719" shape="rect">
    <area (mouseover)="currText = 'Azalea Town'; subText='Slowpoke Well'" coords="670,670,719,719" shape="rect">
    <area (mouseover)="currText = 'Ilex Forest'; subText=''" coords="623,670,670,719" shape="rect">
    <area (mouseover)="currText = 'Ilex Forest'; subText='Ilex Shrine'" coords="574,670,623,719" shape="rect">
    <area (mouseover)="currText = 'Ilex Forest'; subText=''" coords="574,622,623,670" shape="rect">
    <area (mouseover)="currText = 'Goldenrod Road'; subText=''" coords="574,479,623,622" shape="rect">
    <area (mouseover)="currText = 'Goldenrod City'; subText='Goldenrod Dept. Store'" coords="574,430,623,479" shape="rect">
    <area (mouseover)="currText = 'Brilliant Coast'; subText=''" coords="574,335,623,430" shape="rect">
    <area (mouseover)="currText = 'Victory Road'; subText=''" coords="1391,286,1439,431" shape="rect">
    <area (mouseover)="currText = 'Victory Road'; subText=''" coords="1245,286,1391,335" shape="rect">
    <area (mouseover)="currText = 'Victory Road'; subText='Mt. Silver'" coords="1199,286,1245,335" shape="rect">
    <area (mouseover)="currText = 'Victory Road'; subText='Mt. Silver'" coords="1391,239,1439,286" shape="rect">
    <area (mouseover)="currText = 'Indigo City'; subText='Pokemon League'" coords="1391,190,1439,239" shape="rect">
    <area (mouseover)="currText = 'Winding Way'; subText='Crimson Village'" coords="1487,286,1535,335" shape="rect">
    <area (mouseover)="currText = 'Winding Way'; subText='Viridian Forest'" coords="1487,335,1535,381" shape="rect">
    <area (mouseover)="currText = 'Winding Way'; subText=''" coords="1487,381,1535,431" shape="rect">
    <area (mouseover)="currText = 'Pewter City'; subText='Pewter Museum'" coords="1487,238,1535,286" shape="rect">
    <area (mouseover)="currText = 'Ancient Path'; subText=''" coords="1487,187,1535,238" shape="rect">
    <area (mouseover)="currText = 'Ruined City'; subText=''" coords="1487,142,1535,187" shape="rect">
    <area (mouseover)="currText = 'Crater Pass'; subText=''" coords="1535,238,1632,286" shape="rect">
    <area (mouseover)="currText = 'Crater Pass'; subText='Viridian River'" coords="1632,238,1679,286" shape="rect">
    <area (mouseover)="currText = 'Crater Pass'; subText=''" coords="1679,191,1726,286" shape="rect">
    <area (mouseover)="currText = 'Mt. Moon'; subText=''" coords="1679,191,1775,238" shape="rect">
    <area (mouseover)="currText = 'Mountain Descent'; subText='Nature Preserve'" coords="1775,191,1819,238" shape="rect">
    <area (mouseover)="currText = 'Mountain Descent'; subText=''" coords="1819,191,1921,238" shape="rect">
    <area (mouseover)="currText = 'Mountain Descent'; subText='Cerulean Cave'" coords="1921,191,1965,238" shape="rect">
    <area (mouseover)="currText = 'Cerulean City'; subText=''" coords="1965,191,2015,238" shape="rect">
    <area (mouseover)="currText = 'Nugget Bridge'; subText=''" coords="1965,238,2015,143" shape="rect">
    <area (mouseover)="currText = 'Pale Reach'; subText=''" coords="1965,94,2015,45" shape="rect">
    <area (mouseover)="currText = 'Pale Reach'; subText='Tundra Temple'" coords="1965,45,2015,0" shape="rect">
    <area (mouseover)="currText = 'Cerulean Cape'; subText=''" coords="1965,94,2065,143" shape="rect">
    <area (mouseover)="currText = 'Cerulean Cape'; subText='Bill\'s Lighthouse'" coords="2065,94,2111,143" shape="rect">
    <area (mouseover)="currText = 'Rocky Road'; subText=''" coords="2015,191,2158,238" shape="rect">
    <area (mouseover)="currText = 'Lavender Canal'; subText='Rock Tunnel'" coords="2158,191,2206,238" shape="rect">
    <area (mouseover)="currText = 'Lavender Canal'; subText='Power Plant'" coords="2158,238,2206,284" shape="rect">
    <area (mouseover)="currText = 'Lavender Canal'; subText=''" coords="2158,284,2206,334" shape="rect">
    <area (mouseover)="currText = 'Lavender Town'; subText='Pokemon Tower'" coords="2158,334,2206,383" shape="rect">
    <area (mouseover)="currText = 'Placid Way'; subText=''" coords="1965,238,2016,284" shape="rect">
    <area (mouseover)="currText = 'Placid Way'; subText='Pokemon Day Care'" coords="1965,284,2016,334" shape="rect">
    <area (mouseover)="currText = 'Saffron City'; subText='Silph Co.'" coords="1965,334,2016,383" shape="rect">
    <area (mouseover)="currText = 'Farmer\'s Path'; subText=''" coords="2016,334,2158,383" shape="rect">
    <area (mouseover)="currText = 'Saffron Park'; subText=''" coords="1871,334,1965,383" shape="rect">
    <area (mouseover)="currText = 'Celadon City'; subText='Celadon Dept. Store'" coords="1822,334,1871,383" shape="rect">
    <area (mouseover)="currText = 'Terra Road'; subText='Fountainhead Cave'" coords="1822,383,1871,430" shape="rect">
    <area (mouseover)="currText = 'Terracotta Town'; subText='Contest Hall'" coords="1822,430,1871,478" shape="rect">
    <area (mouseover)="currText = 'Celadon Suburbs'; subText=''" coords="1679,334,1822,383" shape="rect">
    <area (mouseover)="currText = 'Cycling Road'; subText=''" coords="1630,334,1679,671" shape="rect">
    <area (mouseover)="currText = 'Trainer\'s Drawbridge'; subText=''" coords="1679,622,1870,671" shape="rect">
    <area (mouseover)="currText = 'Fuchsia City'; subText='Safari Zone'" coords="1870,622,1919,671" shape="rect">
    <area (mouseover)="currText = 'Fuchsia Bay'; subText=''" coords="1870,671,1919,718" shape="rect">
    <area (mouseover)="currText = 'Seabreeze Road'; subText='Ninja Hideout'" coords="1919,622,1965,671" shape="rect">
    <area (mouseover)="currText = 'Seabreeze Road'; subText=''" coords="1965,622,2016,671" shape="rect">
    <area (mouseover)="currText = 'Seabreeze Road'; subText=''" coords="2016,575,2065,671" shape="rect">
    <area (mouseover)="currText = 'Coastal Park'; subText='Hedge Maze'" coords="2065,575,2111,622" shape="rect">
    <area (mouseover)="currText = 'Coastal Park'; subText=''" coords="2111,575,2158,622" shape="rect">
    <area (mouseover)="currText = 'Silence Bridge'; subText=''" coords="2158,383,2206,622" shape="rect">
    <area (mouseover)="currText = 'Vermillion Road'; subText=''" coords="1965,383,2016,478" shape="rect">
    <area (mouseover)="currText = 'Vermillion City'; subText='SS Anne'" coords="1965,478,2016,527" shape="rect">
    <area (mouseover)="currText = 'Vermillion Meadow'; subText='Diglett\'s Tunnel'" coords="2016,478,2065,527" shape="rect">
    <area (mouseover)="currText = 'Vermillion Meadow'; subText=''" coords="2065,478,2158,527" shape="rect">
    <area (mouseover)="currText = 'Birth Island'; subText=''" coords="1999,988,2078,1073" shape="rect">
    <area (mouseover)="currText = ''; subText=''" coords="0,0,2304,1890" shape="rect">
</map>

<div class="text-box">
    {{ currText }}
    <div class="sub-text">{{ subText }}</div>
</div>